# Python

__pycache__/
*.pyc
*.pyo
*.pyd

# Images

*.webp
*.png
!example.png
*.jpg
*.jpeg

# Document files
*.txt
*.json
!sdxl_turbo_workflow.json
!sdxlturbo_example.json
*.pdf
*.docx
*.xlsx
*.csv

# Audio

*.wav
*.mp3

# Other

Lidl_Tarkov