{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Web development project">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python">
    <meta name="author" content="Aleksi Kupila">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="visually-hidden visually-hidden-focusable">
        <a href="#main-content">Skip to main content</a>
        <a href="#navbar">Skip to navigation</a>
        <a href="#footer">Skip to footer</a>
    </div>
    <div id="navbar">
        {% include "lainaamo/navbar.html" %}
    </div>
    <main class="container flex-grow-1" id="main-content">

        {% block content %}{% endblock %}
    </main>

    <div id="footer">
        {% include "lainaamo/footer.html" %}
    </div>
</body>
</html>