{% extends "lainaamo/basepage.html" %}
{% load static %}
{% block title %}Lainaamo- Work detail{% endblock %}

{% block content %}
       
        <div class="card bg-dark text-white card-custom">
                <img src="{{ work.image.url }}" class="img-fluid rounded shadow" alt="{{ work.name }}">
                <div class="card-body">
                        <h2 class="card-title">{{ work.name }}</h2>
                        <h5 class="card-title text-white-50">{{ work.artistStr }}</h5>
                        <p class="card-text"><strong>Technique:</strong> {{ work.technique }}</p>
                        <p class="card-text"><strong>Size:</strong> H{{ work.height_cm }}cm x W{{ work.width_cm }}cm</p>
                        <p class="card-text"><strong>Year:</strong> {{ work.dateField }}</p>
                        <p class="card-text"><strong>Tags:</strong> {{ work.tags.all|join:", " }}</p>
                        <div class="mt-3 pt-3 loan-details border-top">
                                <h5 class="card-title">Borrow this artwork?</h2>
                                {% if user.is_authenticated %}
                                        <form id="borrowForm" action="{% url 'lainaamo:detail' work.id %}" method="post" onsubmit="return validateForm();">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                        {{ form.loan_start.label_tag }}
                                                        {{ form.loan_start }}
                                                        {% if form.loan_start.errors %}
                                                                <div class="text-danger">{{ form.loan_start.errors }}</div>
                                                        {% endif %}
                                                </div>
                                                <div class="mb-3">
                                                        {{ form.loan_end.label_tag }}
                                                        {{ form.loan_end }}
                                                        {% if form.loan_end.errors %}
                                                                <div class="text-danger">{{ form.loan_end.errors }}</div>
                                                        {% endif %}
                                                </div>
                                                <div class="form-check mb-3">
                                                        {{ form.agreement }}
                                                        {{ form.agreement.label_tag }}
                                                        {% if form.agreement.errors %}
                                                                <div class="text-danger">{{ form.agreement.errors }}</div>
                                                        {% endif %}
                                                </div>
                                                <div class="error-field" id="id_errorField">
                                                </div>
                                                {% if form.non_field_errors %}
                                                        <div class="text-danger" id="server-errors">
                                                                {% for error in form.non_field_errors %}
                                                                <p>{{ error }}</p>
                                                                {% endfor %}
                                                        </div>
                                                {% endif %}    
                                                <button type="submit" class="btn btn-sm btn-outline-light w-25">Submit</button>
                                        </form>
                                {% else %}
                                        <p class="card-text text-white-50">You are not logged in. Please log in or sign up in order to lend artworks</p>
                                {% endif %}
                        </div>
                </div>
        </div>
        <script src="{% static 'lainaamo/scripts/borrowFormChecks.js' %}"></script>
{% endblock %}