.welcome-message-authenticated, .welcome-message-regular {
    padding-top: 10px;
}

.filter-menu {
    margin-bottom: 20px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-custom {
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-custom {
    width: 100%;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
}
.skip-link:focus {
    top: 0;
}