.welcome-message-authenticated, .welcome-message-regular {
    padding-top: 10px;
}

.filter-menu {
    margin-bottom: 20px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-custom {
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-custom {
    width: 100%;
}